@model IEnumerable<BookShop.Models.Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsbnNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Published)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsbnNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Published)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BId">Delete</a>
                </td>
            </tr>

            }
        </tbody>
    </table>
</div>
